<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.wyz.mapper.DscUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nnu.wyz.entity.DscUser">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="institution" property="institution"/>
        <result column="register_date" property="registerDate"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <resultMap id="user_role" type="nnu.wyz.entity.DscUser_Role">
        <result column="perm_id" property="perm_id"/>
        <result column="perm_code" property="perm_code"/>
        <result column="perm_url" property="perm_url"/>
    </resultMap>
    <select id="selectUserByUserName" resultMap="BaseResultMap">
        SELECT *
        FROM dsc_user
        WHERE user_name = #{userName}
    </select>
    <select id="findAuthoritiesByUserId" parameterType="java.lang.String"
            resultMap="user_role">
        SELECT p.perm_id, p.perm_code, p.perm_url
        FROM dsc_user u
                 JOIN dsc_user_role ur ON u.id = ur.user_id
                 JOIN dsc_role r ON ur.role_id = r.role_id
                 JOIN dsc_role_perms rp ON r.role_id = rp.role_id
                 JOIN dsc_perms p ON rp.perm_id = p.perm_id
        WHERE u.id = #{userId};
    </select>
</mapper>
